{{ define "UpdateProductPage" }}
{{ template "_head" }}
{{ template "_nav" }}
<div class="container">
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Update Product</h1>
      </div>
    </div>
    <form method="POST" action="/products/update?id={{ .ID }}">
      <!-- <input type="hidden" name="id" value="{{ .ID }}"> -->
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="name">Name:</label>
            <input value="{{ .Name }}" type="text" name="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="description">Description:</label>
            <input value="{{ .Description }}" type="text" name="description" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="price">Price:</label>
            <input value="{{ .Price }}" type="number" name="price" class="form-control" step="0.01">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input value="{{ .Quantity }}" type="number" name="quantity" class="form-control">
          </div>
        </div>
      </div>
      <button type="submit" value="save" class="btn btn-success" >Save</button>
      <a class="btn btn-info" href="/products/list">Back</a>
    </form>
  </body>
  </html>
</div>
</body>
</html>
{{end}}